* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFE0;
}

.container {
    max-width: 90%;
    min-width: 50%;
    width: 100%;
    background-color: #A9A9A9;
    height: 100vh;
    margin: 0 auto;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.slider-line {
    display: flex;
    margin-top: 3%;
}

.slider-wrapper {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1%;
}

.slider-img1 {
    /* max-width: 90%; */
    width: 100%;
}