* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFE0;
}

/* .container {
    width: 80vw;
    background-color: #A9A9A9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
} */


.slider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    overflow: hidden;
    padding-bottom: 1.5rem;
    margin: 1rem auto;
    border: 1rem solid #CD5C5C;
    border-radius: 5%;
    box-shadow: rgba(9, 8, 8, 0.753) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.slide {
    width: 100%;
    border-radius: 50%;
}

.slide-text {
    font-size: medium;
}

.slider-line {
    width: 500%;
    display: flex;
    transition: all 1s;
}
.custom-btn {
    display: block;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #CD5C5C;
    border-radius: 50%;
    background-color: #CD5C5C;
}

.custom-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #8f2bc9;
}


.pagination {
    display: flex;
    gap: 1rem;
}

.slider-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}





input[name="r-b"] {
    display: none;
}

/* .slider-text-frame {
    width: 20%;
    overflow: hidden;
} */

/* .slider-text-line {
    width: 500%;
    display: flex;
    gap: 25%;
} */


#s1:checked ~ .slider-line {
    margin-left: 0;
}
#s2:checked ~ .slider-line {
    margin-left: -125%;
}
#s3:checked ~ .slider-line {
    margin-left: -200%;
}
#s4:checked ~ .slider-line {
    margin-left: -300%;
}
#s5:checked ~ .slider-line {
    margin-left: -400%;
}

#s1:checked ~ .slider-down > .pagination > .cbtn1 {
    background-color: #FFB6C1;
}
#s2:checked ~ .slider-down > .pagination > .cbtn2 {
    background-color: #FFB6C1;
}
#s3:checked ~ .slider-down > .pagination > .cbtn3 {
    background-color: #FFB6C1;
}
#s4:checked ~ .slider-down > .pagination > .cbtn4 {
    background-color: #FFB6C1;
}
#s5:checked ~ .slider-down > .pagination > .cbtn5 {
    background-color: #FFB6C1;
}




.slide-text {
   transition: opacity 0.5s;
   display: none;
}


.btn1:checked ~ .slider-down > .slider-text-frame > .slider-text-line > .slide1-text {
    display: block;
}
.btn2:checked ~ .slider-down > .slider-text-frame > .slider-text-line > .slide2-text {
    display: block;
}
.btn3:checked ~ .slider-down > .slider-text-frame > .slider-text-line > .slide3-text {
    display: block;
}
.btn4:checked ~ .slider-down > .slider-text-frame > .slider-text-line > .slide4-text {
    display: block;
}
.btn5:checked ~ .slider-down > .slider-text-frame > .slider-text-line > .slide5-text {
    display: block;
}






